
.food-items-container h1{
    color: #550274;
    font-size: 24px;
    margin-bottom: 40px;
}
.food-items-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 30px;
    row-gap: 50px;
}
@media screen and (max-width: 1050px) {
    .food-items-container h1{
        font-size: 22px;
        margin-bottom: 35px;
    }
}
@media screen and (max-width: 900px) {
    .food-items-container h1{
        font-size: 20px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 750px) {
    .food-items-container h1{
        font-size: 18px;
        margin-bottom: 25px;
    }
}