.explore-menu h1{
    color: #550274;
    font-size: 24px;
    margin: 40px 0 15px 0;
    padding-top: 40px;
}
.menu-description{
    font-size: 16px;
    color: #5b5757;
    margin-bottom: 50px;
    width: 70%;
}
.menu-list{
    display: flex;
    gap: 60px;
    overflow: auto;
    margin: auto;
    padding: 6px;
    
}
.menu-list::-webkit-scrollbar{
    display: none;
}
.menu-list .active-menu{
    border: 4px solid tomato;
    padding: 4px;
    border-radius: 50%;
}
.menu-list-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.menu-list-item:hover{
    transform: scale(1.08);
}
.menu-list-item img{
    width: 90px;
}
.menu-list-item p{
    font-size: 16px;
    color: gray;
}
.explore-menu hr{
    margin: 20px 0;
    background-color: #f0eeee;
    border: none;
    height: 2px;
}
@media screen and (max-width: 1050px) {
    .explore-menu h1{
        font-size: 22px;
        margin: 65px 0 12px 0;
    }
    .menu-description{
        font-size: 15px;
        margin-bottom: 45px;
    }
    .menu-list{
        gap: 50px;
    }
    .menu-list-item img{
        width: 85px;
    }
    .menu-list-item p{
        font-size: 15px;
    }
}
@media screen and (max-width: 900px) {
    .explore-menu h1{
        font-size: 20px;
        margin: 60px 0 10px 0;
    }
    .menu-description{
        font-size: 14px;
        margin-bottom: 40px;
    }
    .menu-list{
        gap: 40px;
    }
    .menu-list-item img{
        width: 80px;
    }
    .menu-list-item p{
        font-size: 14px;
    }
}
@media screen and (max-width: 750px) {
    .explore-menu h1{
        font-size: 18px;
        margin: 45px 0 8px 0;
    }
    .menu-description{
        font-size: 13px;
        width: 90%;
    }
    .menu-list{
        gap: 30px;
    }
    .menu-list-item img{
        width: 60px;
    }
    .menu-list-item p{
        font-size: 13px;
    }
}